.loading-overlay(ng-if="loading")
  .loading-message {{loadingMessage}}
.container
  .shadow-monster
    section#about-section
      .row
        .col-md-12
          h2 About          
          p I'm Chidiebere I. Nnadi. I'm a software developer and product designer. I graduated with an degree in EE from 
            a(href="http://covenantuniversity.edu.ng") this school
            |  in 2012. I have been writing code for the web since 2007 but only started seriously building products in 2010. I am a Full Stack Web Developer and I have worked with several programming languages including Javascript, Python, PHP, Java and a little Perl.          
          
          p I 
            span.str-t currently
            |  used to teach Software Development at  
            a(href="http://andela.com") Andela
            |  here in Lagos, Nigeria. I currently work as a freelance Software Engineer at  
            a(href="http://gigster.com") Gigster.             
          p In my spare time I enjoy listening to good music and just thinking about crazy ideas.
          p
            a(href="afropolymath.svbtle.com") Click here to view my blog  
    section#what-i-do-section
      .what-i-do-header
        img(src="img/what_i_do_header.png")
      .row
        .col-md-6.build-software.section-header(ng-class="{selected: selectedSection == 'build'}" ng-click="selectedSection = 'build'")
          h2 Code
          p I build applications for the web mostly but also occassionally build for mobile, desktop and embedded systems.     
        .col-md-6.design-software.section-header(ng-class="{selected: selectedSection == 'design'}" ng-click="selectedSection = 'design'")
          h2 Design
          p I enjoy building extremely beautiful experiences and aesthetically pleasing functional software.
      .row
        .col-md-12
          .section-content(ng-if="selectedSection == 'build'")
            h2.content-text.spacer Recent articles
            ul.fancy-article-list
              li
                a(href="https://www.pluralsight.com/guides/python/build-a-simple-file-storage-service-using-vuejs-flask-and-rethinkdb") Build a simple file storage service using Vue.js, Flask and RethinkDB (Part I)
              li
                a(href="https://afropolymath.svbtle.com/authentication-using-django-rest-framework") Demystifying Token-Based Authentication using Django REST Framework
              li
                a(href="https://afropolymath.svbtle.com/intercept-route-requests-using-decorators-in-flask") Creating Somewhat Middleware using Decorators in Flask
            h2.content-text.spacer Open Source/Interesting things I've built
            p Occassionally I create simple tools to help myself and possibly other programmers do their work more easily and with less repetition.
            ul.fancy-article-list
              li
                a(href="http://github.com/afropolymath/pyfirebase") PyFirebase - Firebase Python Plugin
              li
                a(href="https://github.com/afropolymath/restpi") RestPi - Python IOT Control Library for Raspberry Pi
              li
                a(href="https://github.com/afropolymath/flexgrid") FlexGrid - Flexbox CSS Layout System
              li
                a(href="https://github.com/afropolymath/seamless") Seamless - SMS to E-mail script
              li
                a(href="https://github.com/afropolymath/webfiles") WebFiles (WIP) - File Manager UI
            p.spacer I'm interested in collaborating on new and interesting ideas. Check out my Github to see other interesting things I'm working on

          .section-content(ng-if="selectedSection == 'design'")
            h2.content-text Portfolio.
            p In the past few months I've had time to work on artwork for my growing design porfolio. All of that stuff is hosted on Behance and Dribbble for now until I'm able to create a display within this site for that :).
            ul.fancy-article-list
              li
                a(href="http://behance.com/chidieberennadi" target="_blank") Behance Portfolio
              li
                a(href="http://dribbble.com/chidieberennadi" target="_blank") Dribbble Portfolio
    section#contact-section
      .row
        .col-md-8.col-md-offset-2
          h2 Get in touch      
          p Get in touch with me to discuss interesting ideas around Software Development, Mobile Application Development, Open Source any other thing worth the while.        
          form#contact-form(novalidate name="contact" ng-submit="sendMessage()")
            .form-group.has-feedback(ng-class="{'has-error': contact.iName.$dirty && contact.iName.$error.required, 'has-success': contact.iName.$valid}")
              label(for='name-field') Name               
              input#name-field.form-control(type='text' placeholder='Enter name' required ng-model='inquiry.name' name="iName")
              span.glyphicon.glyphicon-ok.form-control-feedback(aria-hidden="true" ng-if="contact.iName.$valid")
              span#nameSuccessStatus.sr-only(ng-if="contact.iName.$valid") (success)
              span.glyphicon.glyphicon-remove.form-control-feedback(aria-hidden="true" ng-if="contact.iName.$dirty && contact.iName.$error.required")
              span#nameErrorStatus.sr-only(ng-if="contact.iName.$dirty && contact.iName.$error.required") (error)
            .form-group.has-feedback(ng-class="{'has-error': contact.iEmail.$dirty && (contact.iEmail.$error.required || contact.iEmail.$error.email), 'has-success': contact.iEmail.$valid}")
              label(for='email-field') E-mail Address
              input#email-field.form-control(type='email' placeholder='Enter email' required ng-model='inquiry.email' name="iEmail")
              span.glyphicon.glyphicon-ok.form-control-feedback(aria-hidden="true" ng-if="contact.iEmail.$valid")
              span#emailSuccessStatus.sr-only(ng-if="contact.iEmail.$valid") (success)
              span.glyphicon.glyphicon-remove.form-control-feedback(aria-hidden="true" ng-if="contact.iEmail.$dirty && (contact.iEmail.$error.required || contact.iEmail.$error.email)")
              span#emailErrorStatus.sr-only(ng-if="contact.iEmail.$dirty && contact.iEmail.$error.required") (error)
            .form-group
              label(for='phone-field') Phone Number
              input#phone-field.form-control(type='phone' placeholder='Enter Phone Number' ng-model='inquiry.phone' name="iPhone")           
            .form-group(ng-class="{'has-error': contact.iMessage.$dirty && contact.iMessage.$error.required, 'has-success': contact.iMessage.$valid}")
              label(for='message-field') Message
              textarea#message-field.form-control(placeholder='Enter message' ng-model='inquiry.message' name="iMessage" required)
            button.btn.btn-default(type='submit', ng-click='sendMail' ng-disabled="!contact.$valid") Send Message  
      .row
        .col-md-8.col-md-offset-2
          h2 Connect with me
          p Call me up on 
            strong +234-813-265-6830.
            | Send me an e-mail on 
            a(href='mailto:chidiebere.nnadi@gmail.com') chidiebere.nnadi@gmail.com
            |  and ensure to connect with me on any of these platforms. I am almost always available on social media so give me a buzz.
          |             
          .connect-icons
            ul.list-inline
              li
                a(href='http://github.com/afropolymath')
                  img(src='img/github.png')         
              li
                a(href='http://facebook.com/chidiebere.nnadi')
                  img(src='img/facebook.png')
              li
                a(href='http://twitter.com/afropolymath')
                  img(src='img/twitter.png')
              li
                a(href='http://linked.in/pub/chidiebere')
                  img(src='img/linkedin.png')
