html, body {
  height: 100%
}

body {
  font-family: "Nunito", Roboto, Arial, sans-serif;
  background: url(http://res.cloudinary.com/dljphicjv/image/upload/v1461077798/GKP8G1N9UV_t2ccmc.jpg) #D1D1D1;
  background-attachment: fixed;
  background-size: cover;
}

a {
  color: #09DBAA;
}

a:hover {
  color: #09DBAA;
}

.loading-overlay {
  position: fixed;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background-color: rgba(0,0,0,0.9);
  color: #fff;
  z-index: 999;
  line-height: 100%;
  text-align: center;
}

.loading-message {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  width: 70%;
  margin: auto auto;
  font-size: 1.5em;
  font-weight: 100;
  height: 100px;
  line-height: 100px;
}

section#home-section {
  position: relative;
  height: 100%;
  min-height: 600px;
}

section#home-section h3 {
  margin: 0;
  margin-top: 10px;
  font-weight: 100;
}

section#home-section header {
  position: fixed;
  left: 0; right: 0; top: 0;
  padding: 2.0em 0;
  z-index: 99;
  transition: all .3s;
}

section#home-section header.fixed {
  background-color: rgba(255,255,255,1);
  padding: 1.0em 0;
  border-bottom: solid 1px #ddd;
  transition: all .3s;
}

section#home-section header .logo {
  height: 43px;
  line-height: 43px;
}

section#home-section header nav {
  overflow: hidden;
}

section#home-section header nav ul {
  margin:0;
  padding:0;
  float:right;
}

section#home-section header nav ul li {
  float: left;
  margin-right:1em;
}

section#home-section header nav ul li a {
  padding: 0 1.0em;
  display: inline-block;
  color: #283143;
  font-size: 1.2em;
  font-weight: 500;
  height: 61px;
  line-height: 61px;
  text-decoration: none;
  cursor: pointer;
  transition: color .5s;
}

section#home-section header nav ul li a:hover {
  text-decoration: none;
  color: #EF6921;
  transition: color .5s;
}

section#home-section header nav ul li:last-child {
  margin-right: 0;
}

section#home-section .headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
}

section#home-section .twitter-feed {
  position: absolute;
  width: 1170px;
  left:0; right: 0;
  bottom: 0;
  margin: 0 auto;
  background: #FFF;
  z-index: 90;
}

.tick {
  position: absolute;
  bottom: -15px;
  /*background: #fff;*/
  width: 0;
  height: 0;
  border-style: solid;
}

.left-positioned {
  left: 0;
  border-width: 0 15px 15px 0;
  border-color: transparent #767676 transparent transparent;
}

.right-positioned {
  right: 0;
  border-width: 15px 15px 0 0;
  border-color: #767676 transparent transparent transparent;
}

section#home-section .twitter-feed .twitter-nav-bar {
  background: #EFEFEF;
  padding: 0.5em 0.9em;
  font: 700 0.9em "Helvetica Neue", Arial, sans-serif;
  color: #767676;
}

section#home-section .twitter-feed .twitter-content {
  padding: 0.9em;
  font-size: 1.3em;
  font-weight: 300;
  overflow: hidden;
}

section#home-section .twitter-feed .twitter-content .tweet-image {
  float: left;
}

section#home-section .twitter-feed .twitter-content .tweet-image img {
  border-radius: 5px;
}

section#home-section .twitter-feed .twitter-content .tweet-text {
  padding-left: 70px;
  color: #666;
}

section#home-section .twitter-feed .twitter-content .tweet-text .tweet-time {
  font-size: 0.7em;
  font-weight: 400;
  color: #FF9800;
  margin: 0;
  margin-top: 5px;
}

h1 {
  font-family: 'Kaushan Script', sans-serif;
  font-weight: 300;
  font-size: 5.5em;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}

h2 {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 15px;
}

h3 {
  font-size: 1.5em;
  color: #2F3A4F;
  font-weight: 500;
}

h2.content-text {
  font-family: 'Titillium Web', sans-serif;
}

p {
  color: #656565;
  font-size: 1.2em;
  line-height: 2.0em;
  font-weight: 100;
}

.spacer {
  margin-top: 3.0em;
}

section#about-section {
  background: url(../img/coffee_stain.png) left top no-repeat #2f3a4f;
  padding: 3.0em 6.0em 12.0em 6.0em;
  box-shadow: 0px 5px 7px 0 rgba(0,0,0,0.2) inset;
}

section#about-section h1 {
  font-size: 3.0em;
  margin-bottom: 0;
  margin-top: 2.0em;
}

section#about-section h2 {
  color: #09DBAA;
  margin-top: 3.0em;
}

section#about-section p {
  color: #fff;
}

.skill-set {
  padding: 3.5em 0;
}

.skill-block {
  margin-bottom: 1.5em;
}

.skill-block .title {
  font-size: 1.5em;
  font-weight: 100;
  color: #fff;
  margin-bottom: 5px;
}

.skill-block .skill-bar {
  position: relative;
  clear: both;
  background: #283143;
  height: 5px;
}

.skill-bar .skill-progress {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0px;
  display: inline-block;
  background: #4669B1;
  transition: all .3s;
}

.skill-block .title i {
  margin-right: 10px;
}

.skill-ranges {
  overflow: hidden;
}

.skill-ranges .marker {
  display: inline-block;
  width: 115px;
  height: 36px;
}

.skill-ranges .col-xs-4 {
  padding: 0;
}

.skill-ranges .beginner.marker {
  background: url(../img/marker_beginner.png) no-repeat;
}

.skill-ranges .proficient.marker {
  background: url(../img/marker_proficient.png) no-repeat;
}

.skill-ranges .expert.marker {
  background: url(../img/marker_expert.png) no-repeat;
}

section#what-i-do-section .container {
  position: relative;
}

.what-i-do-header {
  margin-top: -70px;
  margin-bottom: 20px;
}

section#what-i-do-section {
  padding: 3.0em 6.0em 10.0em 6.0em;
  background: url(../img/sketch_pattern.jpg) repeat-x left bottom #fff;
  border-bottom: solid 1px #BBB;
}

section#what-i-do-section h1 {
  margin-top: 1.0em;
  color: #656565;
}

section#what-i-do-section h2 {
  margin-top: 2.0em;
}

section#contact-section {
  background: #EFEFEF;
  padding: 3.0em 0 7.0em 0;
}

section#contact-section h2 {
  margin-top: 3.0em;
}

#contact-form {
  margin-top: 2.0em;
}

#contact-form #message-field {
  height: 150px;
  max-height: 150px;
  min-width: 150px;
}

form#contact-form .form-group .form-control {
  border-radius: 0;
  box-shadow: none;
}

.shadow-monster {
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.14);
}
.section-header {
  opacity: 0.4;
  padding-left: 170px;
  padding-right: 30px;
  min-height: 200px;
  border-bottom: solid 7px #efefef;
  transition: opacity 0.3s;
}

.section-header p {
  font-size: 1.0em;
}

.section-header:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.section-header.selected {
  opacity: 1;
  border-bottom-color: #666;
}

.section-content {
  padding-top: 40px;
}

.build-software {
  background: url(../img/icons_code.png) 15px 3.0em no-repeat;
  border-right: 1px dotted #efefef;
}

.design-software {
  padding-left: 180px;
  background: url(../img/icons_design.png) 25px 3.0em no-repeat;
}

.connect-icons {
  margin-top: 2.0em;
}

.connect-icons ul li img {
  width: 48px;
}

.connect-icons ul li a {
  opacity: 0.4;
  transition: all .3s;
}

.connect-icons ul li a:hover {
  opacity: 1;
  transition: all .3s;
}

.form-error {
  background-color: #D33F3F;
  padding: 5px 7px;
  color: #fff;
  font-size: 0.8em;
  margin-top: 5px;
}

.item-list {
  margin-top: 20px;
}

.item-list li {
  margin-bottom: 10px;
}
