body {
  font-family: "Nunito", Roboto, Arial, sans-serif;
}

a {
  color: #09DBAA;
}

a:hover {
  color: #09DBAA;
}

.loading-overlay {
  position: fixed;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background-color: rgba(0,0,0,0.9);
  color: #fff;
  z-index: 999;
  line-height: 100%;
  text-align: center;
}

.loading-message {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  width: 70%;
  margin: auto auto;
  font-size: 1.5em;
  font-weight: 100;
  height: 100px;
  line-height: 100px;
}

section#home-section {
  position: relative;
  background: #95e1f1;
  background: url(http://res.cloudinary.com/dljphicjv/image/upload/c_fill,h_1081,w_1680/v1460893159/FI3UYVGNFD_lwbxon.jpg);
  background-attachment: fixed;
  background-size: cover;
  padding-top: 3.0em;
}

section#home-section h1, section#home-section h3 {
  margin: 0;
  margin-top: 10px;
}

section#home-section header {
  position: fixed;
  left: 0; right: 0; top: 0;
  padding: 2.0em 0;
  z-index: 99;
  transition: all .3s;
}

section#home-section header.fixed {
  background-color: #fff;
  padding: 1.0em 0;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.1);
  transition: all .3s;
}

section#home-section header .logo {
  height: 43px;
  line-height: 43px;
}

section#home-section header nav {
  overflow: hidden;
}

section#home-section header nav ul {
  margin:0;
  padding:0;
  float:right;
}

section#home-section header nav ul li {
  float: left;
  margin-right:1em;
}

section#home-section header nav ul li a {
  padding: 0 1.0em;
  display: inline-block;
  color: #283143;
  font-family: "Titillium Web", Arial, sans-serif;
  font-size: 1.1em;
  font-weight: 500;
  height: 43px;
  line-height: 43px;
  text-decoration: none;
  cursor: pointer;
  transition: color .5s;
}

section#home-section header nav ul li a:hover {
  text-decoration: none;
  color: #EF6921;
  transition: color .5s;
}

section#home-section header nav ul li:last-child {
  margin-right: 0;
}

section#home-section .headline {
  padding: 10.0em;
  text-align: center;
}

section#home-section .twitter-feed {
  width: 60%;
  left:0; right: 0;
  margin: 0 auto;
  background: #FFF;
  z-index: 99;
}

section#home-section .twitter-feed .twitter-nav-bar {
  background: #EFEFEF;
  padding: 0.5em 0.9em;
  font: 700 0.9em "Helvetica Neue", Arial, sans-serif;
  color: #767676;
}

section#home-section .twitter-feed .twitter-content {
  padding: 0.9em;
  font-size: 1.3em;
  font-weight: 300;
  overflow: hidden;
}

section#home-section .twitter-feed .twitter-content .tweet-image {
  float: left;
}

section#home-section .twitter-feed .twitter-content .tweet-image img {
  border-radius: 5px;
}

section#home-section .twitter-feed .twitter-content .tweet-text {
  padding-left: 70px;
  color: #666;
}

section#home-section .twitter-feed .twitter-content .tweet-text .tweet-time {
  font-size: 0.7em;
  font-weight: 400;
  color: #FF9800;
  margin: 0;
  margin-top: 5px;
}

h1 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  font-size: 3.5em;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  text-shadow: 0px 2px 0 rgba(0,0,0,0.1);
}

h2 {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 15px;
}

h3 {
  font-size: 1.5em;
  color: #2F3A4F;
  font-weight: 500;
}

h2.content-text {
  font-family: 'Titillium Web', sans-serif;
}

p {
  color: #656565;
  font-size: 1.0em;
  line-height: 1.8em;
  font-weight: 100;
}

.spacer {
  margin-top: 3.0em;
}

section#about-section {
  background: #2f3a4f;
  padding: 6.0em 0 12.0em 0;
  box-shadow: 0px 5px 7px 0 rgba(0,0,0,0.2) inset;
}

section#about-section h2 {
  color: #09DBAA;
  margin-top: 3.0em;
}

section#about-section p {
  color: #fff;
}

.skill-set {
  padding: 5.0em 0 5.0em 3.0em;
}

.skill-block {
  clear: both;
  background: #283143;
  margin-bottom: 0.5em;
}

.skill-block .title {
  width: 0px;
  display: inline-block;
  background: #FFF;
  padding: 1.0em;
  font-weight: 200;
  color: #283143;
  transition: all .3s;
}

.skill-block .title i {
  margin-right: 10px;
}

.skill-ranges {
  overflow: hidden;
}

.skill-ranges .marker {
  display: inline-block;
  color: #FFF;
  padding-bottom: 20px;
  background: url(../img/marker.png) no-repeat center bottom;
}

section#what-i-do-section {
  padding: 5.0em 0 10.0em 0;
}

section#what-i-do-section h1 {
  margin-top: 1.0em;
  color: #656565;
}

section#what-i-do-section h2 {
  margin-top: 2.0em;
}

section#contact-section {
  background: #EFEFEF;
  padding: 3.0em 0 7.0em 0;
}

section#contact-section h2 {
  margin-top: 3.0em;
}

#contact-form {
  margin-top: 2.0em;
}

#contact-form #message-field {
  height: 150px;
  max-height: 150px;
  min-width: 150px;
}

form#contact-form .form-group .form-control {
  border-radius: 0;
  box-shadow: none;
}

.section-header {
  opacity: 0.4;
  padding-left: 170px;
  padding-right: 30px;
  min-height: 200px;
  border-bottom: solid 7px #efefef;
  transition: opacity 0.3s;
}

.section-header:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.section-header.selected {
  opacity: 1;
  border-bottom-color: #666;
}

.section-content {
  padding-top: 40px;
}

.build-software {
  background: url(../img/icons_code.png) 15px 3.0em no-repeat;
  border-right: 1px dotted #efefef;
}

.design-software {
  padding-left: 180px;
  background: url(../img/icons_design.png) 25px 3.0em no-repeat;
}

.connect-icons {
  margin-top: 2.0em;
}

.connect-icons ul li img {
  width: 48px;
}

.form-error {
  background-color: #D33F3F;
  padding: 5px 7px;
  color: #fff;
  font-size: 0.8em;
  margin-top: 5px;
}

.item-list {
  margin-top: 20px;
}

.item-list li {
  margin-bottom: 10px;
}
